@font-face {
  font-family: Gmarket_Bold;
  src: url("../font/GmarketSansTTFBold.ttf") format("truetype");
  src: url("../font/GmarketSansTTFLight.ttf") format("truetype");
  src: url("../font/GmarketSansTTFMedium.ttf") format("truetype");
}
@font-face {
  font-family: Gmarket_SansLight;

  src: url("../font/GmarketSansTTFLight.ttf") format("truetype");
}

@font-face {
  font-family: Gmarket_SansMedium;

  src: url("../font/GmarketSansTTFMedium.ttf") format("truetype");
}

.title {
  color: #0d991f;
  text-align: center;
  font-family: Gmarket_Bold;
}

body {
  background-color: #ffffff;
  font-family: sans-serif;
  font-size: 20px;
  padding: 25px;
  margin: 0;
  overflow: auto;
  text-align: center;
  font-family: Gmarket_SansMedium;
}

#container li {
  margin-bottom: 10px;
}

h1,
h2,
p,
ul {
  font-family: sans-serif;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header {
  background-color: rgb(116, 255, 81);
  padding: 0;
  text-align: center;
}

ul.header li a {
  color: rgb(5, 5, 5);
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.content {
  position: relative;
  background-color: rgb(148, 226, 231);
  padding: 20px;
}

.content h2 {
  padding: 0;
  margin: 0;
}

.content li {
  margin-bottom: 10px;
}

.active {
  background-color: #eed7d7;
}
