#roundButton {
  background-color: #ffffff;
  margin-bottom: 20px;
  width: 140px;
  height: 120px;
  border-radius: 50%;
  border: 10px solid #141814;
  outline: none;
  transition: all 0.2s cubic-bezier(0, 1.26, 0.8, 1.28);
  color: black;
}

#roundButton:hover {
  background-color: #ffffff;
  cursor: pointer;
  border-color: #0e0e0e;
  transform: scale(1.2, 1.2);
}

#rountButton:active {
  border-color: #003557;
  background-color: #fff;
}

#Button {
  padding-top: 20px;
  padding-left: 10px;
}
