.social-login
    button.social_login_github
        span
            i.fab.fa-github
        |Continue with Github

    button.social_login_facebook
        span
            i.fab.fa-facebook
        |Continue with Facebook

    button.social_login_Google
        span
            i.fab.fa-google
        |Continue with Google

